
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* آبی دارک */
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-image: url();
    background-color: #ffffff; /* آبی تیره */
    padding: 20px;
    text-align: center;
    position: relative;
    
}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar {
    display: none; /* مخفی کردن منو به طور پیش‌فرض */

}

.navbar.active {
    display: block; /* نمایش منو وقتی فعال است */
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
    height: 100%;

}

.navbar ul li {
    
   width: 24%;
  height: 40px;
  text-align: center;
  background-color: #0066cc;
  border: #0066cc solid 1%;
  display: inline-block;
  border-radius: 5px;
  padding-top:  10px;
}
.navbar ul :hover{
    background-color: #146fc9;

}
.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.container {
    width: 80%;
    margin: auto;
    margin-top:  30px;
    padding: 20px ;
    background-color: #868686; /* آبی تیره تر */
    border-radius: 5px;

}

h2 {
    color: #ffcc00; /* رنگ طلایی */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    background-color: #004080; /* رنگ پس‌زمینه محصولات */
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    flex:calc(50% - 30px); /* سه محصول در هر ردیف */
}
.product-item img
{
size: 20px;
width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #00509e; /* آبی میانه */
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {background-color: #0066cc; /* رنگ روشن‌تر برای حالت هاور */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #003366; /* آبی تیره */
}
div input {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #0066cc; /* آبی تیره تر */
    border-radius: 5px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    
}
div .back{
    text-align: center;
}
.pro{
  background-color: darkgoldenrod;
   
}
.pro div div{
    background-color: gold;
   
}
.img-min{
    width: 30px;
    height: 30px;
    float: left;

}

.img-min a img{
    width: 100%;
    height: 100%;
}

#image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.button-container {
    margin-top: 20px;
}
.footer-menu {
    background-color: #003366;
    color: gold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.footer-menu ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

.footer-menu li {
    display: inline;
    margin: 0 15px;
}

.footer-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    
}

.footer-menu a:hover {
    text-decoration: underline;
}
.footer-menu img{
    width: 20px;
    height: 100%;
}


.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; /* پنهان کردن تمام اسلایدها */
}

.slide img {
    width: 100%; /* تنظیم عرض تصویر */
    border-radius: 15px;
}
.slide p{
    text-align: center;
}
